<html>
<head>
    <meta charset="utf-8">
    <title>[% title %]</title>
    <base href="[% image_dir %]/">
</head>
<body [% html_body %]>
<a href="http://www.bekkoame.ne.jp/~tokuoka/hakoniwa.html">箱庭諸島スクリプト配布元</a><hr>
