[% include "tmpl/island_head.tt" %]
[% include "tmpl/island_info.tt" %]
[% include "tmpl/island_map.tt" %]

[% IF use_local_bbs %]
    [% include "tmpl/local_bbs_head.tt" %]
    [% include "tmpl/local_bbs_input.tt" %]
    [% include "tmpl/local_bbs_contents.tt" %]
[% END %]

[% include "tmpl/recent.tt" %]
